.btn {
    display: inline-block;
    height: 3.5rem;

    background: transparent;
    border: none;

    &_primary {
        color: white;
        width: 100%;
        background: $primaryColor;
        border-radius: .5rem;

        &:hover {
            background: lighten($primaryColor, 5%);
        }
    }
}

.quantity {
    display: inline-block;
    margin-bottom: 1rem;
}
   
.quantity .input-text.qty {
    width: 100%;
    height: 56px;
    padding: 0 5px;
    text-align: center;
    background-color: $secundaryColor;
    border: 1px solid #efefef;
}

.quantity.buttons_added {
    text-align: left;
    position: relative;
    white-space: nowrap;
    vertical-align: top;
    width: 100%;
}

.quantity.buttons_added input {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    box-shadow: none;
}

.quantity.buttons_added .minus,
.quantity.buttons_added .plus {
    padding: 7px 10px 8px;
    height: 56px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: $primaryColor;
}

.quantity.buttons_added .minus {
    border-right: 0;
    position: absolute;
}

.quantity.buttons_added .plus {
    border-left: 0;
    right: 0;
    position: absolute;
}

.quantity.buttons_added .minus:hover,
.quantity.buttons_added .plus:hover {
    background: #eeeeee;
}

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
}

.quantity.buttons_added .minus:focus,
.quantity.buttons_added .plus:focus {
    outline: none;
}